#calculator-display {
  width: 250px;
  height: 50px;
  border: 2px solid black;
  border-bottom: 0;
  box-sizing: border-box;
}

#calculator-display-text {
  text-align: right;
  margin-top: 1rem;
  margin-right: 1rem;
  font-size: 1.5em;
}

.flex-row {
  display: flex;
  flex-direction: row;
  
}

.flex-row > div > p {
  height: 50px;
  line-height: 3rem;
  text-align: center;
  
  border: 1px solid black;
  margin: 0;
}

#calculator-buttons {
  width: 250px;
  box-sizing: border-box;
  border: 1px solid black;
}

#clear-entry-button,
#clear-button,
#delete-button,
#divide-button,
#number-button-1,
#number-button-2,
#number-button-3,
#number-button-4,
#number-button-5,
#number-button-6,
#number-button-7,
#number-button-8,
#number-button-9,
#add-button,
#subtract-button,
#multiply-button,
#divide-button {
  flex-basis: 100%;
}

#number-button-0 {
  flex-basis: 50%;
}

#decimal-button,
#equals-button {
  flex-basis: 25%;
}