* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.centering {
  margin: auto;
  text-align: center;
}

.sizing {
  width: 50%;
}

#calculator {
  width: 15.625em;
  height: 19.75em;

}

#calculator-display {
  border: 0.125em solid black;
  border-bottom: 0;
  display: flex;
  flex-direction: column;
  text-align: right;
  padding-right: 0.75em;

}

#calculator-buttons-container {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid black;
  height: 75%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.calculator-buttons {
  height: 20%;
  width: 25%;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

#secondary-text {
  width: 100%;
  height: 25%;
  font-size: 1em;
}

#primary-text {
  width: 100%;
  height: 75%;
  font-size: 1.5em;
  padding-bottom: 0.5em;
}

#number-button-0 {
  flex-basis: 50%;
}